# Converting Data Source Files to Database

---


I want to convert the source data (in CSV format) into a database to make it easier to analyze and manage the overall dataset.
I chose to use a DuckDB-style database as it works well with Pandas and is designed for analytical workflows. This will be particularly important when I am performing my EDA and feature engineering later in my workflow.

To support the use of a database, I will start by assigning each reservation a universally unique identifier (UUID) to use as the primary key for my tables. Then, I will split the source data into logical groups to replicate a live database, making it easier to query my data later.  

---

# Imports

In [1]:
import duckdb
import pandas as pd
import uuid

# Load Data

In [2]:
h1 = pd.read_csv('../../data/source/H1.csv')
h2 = pd.read_csv('../../data/source/H2.csv')

In [3]:
h1.head()

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate
0,0,342,2015,July,27,1,0,0,2,0,...,No Deposit,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,0,737,2015,July,27,1,0,0,2,0,...,No Deposit,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,0,7,2015,July,27,1,0,1,1,0,...,No Deposit,NULL,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,0,13,2015,July,27,1,0,1,1,0,...,No Deposit,304,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,0,14,2015,July,27,1,0,2,2,0,...,No Deposit,240,NULL,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [4]:
h1['HotelName'] = 'H1'
h2['HotelName'] = 'H2'

In [5]:
data = pd.concat([h1, h2], axis = 0)
data.head()

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate,HotelName
0,0,342,2015,July,27,1,0,0,2,0.0,...,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01,H1
1,0,737,2015,July,27,1,0,0,2,0.0,...,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01,H1
2,0,7,2015,July,27,1,0,1,1,0.0,...,NULL,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02,H1
3,0,13,2015,July,27,1,0,1,1,0.0,...,304,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02,H1
4,0,14,2015,July,27,1,0,2,2,0.0,...,240,NULL,0,Transient,98.0,0,1,Check-Out,2015-07-03,H1

# Add UUIDs to Reservations

In [6]:
data.head()

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate,HotelName
0,0,342,2015,July,27,1,0,0,2,0.0,...,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01,H1
1,0,737,2015,July,27,1,0,0,2,0.0,...,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01,H1
2,0,7,2015,July,27,1,0,1,1,0.0,...,NULL,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02,H1
3,0,13,2015,July,27,1,0,1,1,0.0,...,304,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02,H1
4,0,14,2015,July,27,1,0,2,2,0.0,...,240,NULL,0,Transient,98.0,0,1,Check-Out,2015-07-03,H1

In [7]:
# Generate UUIDs for each row in the dataframe
data['UUID'] = [uuid.uuid4() for _ in range(len(data))]
data['UUID'].head()

0    cbd39d52-39a5-464a-ac45-ee52f3fb51ba
1    e5112a7f-2f6b-4956-b228-fb79f005bdb0
2    7a62d96e-23df-405c-be09-b84e64a7821c
3    572af9f2-ec23-48b2-8677-231e93e02bf6
4    6132069f-da13-44b2-a1de-6853dadc1e85
Name: UUID, dtype: object

## Prepare Data Types for Database

In [8]:
data['ReservationStatusDate'] = pd.to_datetime(data['ReservationStatusDate'])
data['ReservationStatusDate']

0       2015-07-01
1       2015-07-01
2       2015-07-02
3       2015-07-02
4       2015-07-03
           ...
79325   2017-09-06
79326   2017-09-07
79327   2017-09-07
79328   2017-09-07
79329   2017-09-07
Name: ReservationStatusDate, Length: 119390, dtype: datetime64[ns]

In [9]:
data.dtypes

IsCanceled                              int64
LeadTime                                int64
ArrivalDateYear                         int64
ArrivalDateMonth                       object
ArrivalDateWeekNumber                   int64
ArrivalDateDayOfMonth                   int64
StaysInWeekendNights                    int64
StaysInWeekNights                       int64
Adults                                  int64
Children                              float64
Babies                                  int64
Meal                                   object
Country                                object
MarketSegment                          object
DistributionChannel                    object
IsRepeatedGuest                         int64
PreviousCancellations                   int64
PreviousBookingsNotCanceled             int64
ReservedRoomType                       object
AssignedRoomType                       object
BookingChanges                          int64
DepositType                            object
Agent                                  object
Company                                object
DaysInWaitingList                       int64
CustomerType                           object
ADR                                   float64
RequiredCarParkingSpaces                int64
TotalOfSpecialRequests                  int64
ReservationStatus                      object
ReservationStatusDate          datetime64[ns]
HotelName                              object
UUID                                   object
dtype: object

# Create Database and Add Data

## Define Custom Functions to Create DB Table

In [10]:
def map_dtype(dtype):
    """
    Map pandas dtype to DuckDB SQL type.

    Args:
        dtype (pandas.dtype): The dtype of the pandas DataFrame column.

    Returns:
        str: The corresponding DuckDB SQL type.
    """
    if pd.api.types.is_integer_dtype(dtype):
        return "INTEGER"
    elif pd.api.types.is_float_dtype(dtype):
        return "FLOAT"
    elif pd.api.types.is_bool_dtype(dtype):
        return "BOOLEAN"
    elif pd.api.types.is_datetime64_any_dtype(dtype):
        return "DATE"
    else:
        return "VARCHAR"

def generate_create_table_sql(data, table_name):
    """
    Generate a SQL CREATE TABLE statement based on the DataFrame schema.

    Args:
        data (pandas.DataFrame): The DataFrame to generate the table schema from.
        table_name (str): The name of the table to be created.

    Returns:
        str: The SQL CREATE TABLE statement.
    """
    columns = []
    for col, dtype in data.dtypes.items():
        duckdb_type = map_dtype(dtype)
        if col == 'UUID':  # Ensure UUID is UUID type
            duckdb_type = "UUID"
        columns.append(f'"{col}" {duckdb_type}')

    create_table_sql = f'CREATE TABLE "{table_name}" ({", ".join(columns)});'
    return create_table_sql

def insert_dataframe_to_duckdb(con, data, table_name):
    """
    Insert a DataFrame into a DuckDB table.

    Args:
        con (duckdb.DuckDBPyConnection): The DuckDB connection object.
        data (pandas.DataFrame): The DataFrame to insert.
        table_name (str): The name of the table to insert the data into.
    """
    con.execute(f"INSERT INTO \"{table_name}\" SELECT * FROM data")

## Create the Database

In [11]:
## Define table name
table_name = 'reservations'

## Create a DuckDB connection and a new database file
with duckdb.connect(database='../../data/reservation_data.duckdb', read_only=False) as con:

    # Generate the CREATE TABLE statement    
    create_table_sql = generate_create_table_sql(data, table_name)
    print("Generated CREATE TABLE SQL:")
    print(create_table_sql)
    
    # Execute the CREATE TABLE statement
    con.execute(create_table_sql)
    
    # Insert the dataframe into the DuckDB table
    con.execute('PRAGMA enable_progress_bar')
    insert_dataframe_to_duckdb(con, data, table_name)

Generated CREATE TABLE SQL:
CREATE TABLE "reservations" ("IsCanceled" INTEGER, "LeadTime" INTEGER, "ArrivalDateYear" INTEGER, "ArrivalDateMonth" VARCHAR, "ArrivalDateWeekNumber" INTEGER, "ArrivalDateDayOfMonth" INTEGER, "StaysInWeekendNights" INTEGER, "StaysInWeekNights" INTEGER, "Adults" INTEGER, "Children" FLOAT, "Babies" INTEGER, "Meal" VARCHAR, "Country" VARCHAR, "MarketSegment" VARCHAR, "DistributionChannel" VARCHAR, "IsRepeatedGuest" INTEGER, "PreviousCancellations" INTEGER, "PreviousBookingsNotCanceled" INTEGER, "ReservedRoomType" VARCHAR, "AssignedRoomType" VARCHAR, "BookingChanges" INTEGER, "DepositType" VARCHAR, "Agent" VARCHAR, "Company" VARCHAR, "DaysInWaitingList" INTEGER, "CustomerType" VARCHAR, "ADR" FLOAT, "RequiredCarParkingSpaces" INTEGER, "TotalOfSpecialRequests" INTEGER, "ReservationStatus" VARCHAR, "ReservationStatusDate" DATE, "HotelName" VARCHAR, "UUID" UUID);

In [12]:
## Review and confirm results
with duckdb.connect(database='../../data/reservation_data.duckdb') as con:
    result = con.execute(f'SELECT * FROM "{table_name}" LIMIT 25').df()

In [13]:
result

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate,HotelName,UUID
0,0,342,2015,July,27,1,0,0,2,0.0,...,NULL,0,Transient,0.000000,0,0,Check-Out,2015-07-01,H1,cbd39d52-39a5-464a-ac45-ee52f3fb51ba
1,0,737,2015,July,27,1,0,0,2,0.0,...,NULL,0,Transient,0.000000,0,0,Check-Out,2015-07-01,H1,e5112a7f-2f6b-4956-b228-fb79f005bdb0
2,0,7,2015,July,27,1,0,1,1,0.0,...,NULL,0,Transient,75.000000,0,0,Check-Out,2015-07-02,H1,7a62d96e-23df-405c-be09-b84e64a7821c
3,0,13,2015,July,27,1,0,1,1,0.0,...,NULL,0,Transient,75.000000,0,0,Check-Out,2015-07-02,H1,572af9f2-ec23-48b2-8677-231e93e02bf6
4,0,14,2015,July,27,1,0,2,2,0.0,...,NULL,0,Transient,98.000000,0,1,Check-Out,2015-07-03,H1,6132069f-da13-44b2-a1de-6853dadc1e85
5,0,14,2015,July,27,1,0,2,2,0.0,...,NULL,0,Transient,98.000000,0,1,Check-Out,2015-07-03,H1,a05d742a-50b3-4508-810f-0d77b8fa7b4b
6,0,0,2015,July,27,1,0,2,2,0.0,...,NULL,0,Transient,107.000000,0,0,Check-Out,2015-07-03,H1,68bc2d2a-70f6-4f92-a611-8a257b64d0f4
7,0,9,2015,July,27,1,0,2,2,0.0,...,NULL,0,Transient,103.000000,0,1,Check-Out,2015-07-03,H1,507d860b-836c-4ebd-a366-56e2d8f10a1e
8,1,85,2015,July,27,1,0,3,2,0.0,...,NULL,0,Transient,82.000000,0,1,Canceled,2015-05-06,H1,22dad516-6b4d-4104-92e9-9780b4333227
9,1,75,2015,July,27,1,0,3,2,0.0,...,NULL,0,Transient,105.500000,0,0,Canceled,2015-04-22,H1,e77c6af6-2828-4848-bd83-1053848b7873
10,1,23,2015,July,27,1,0,4,2,0.0,...,NULL,0,Transient,123.000000,0,0,Canceled,2015-06-23,H1,0d938f98-7115-41c2-8d7f-ed1004b622c7
11,0,35,2015,July,27,1,0,4,2,0.0,...,NULL,0,Transient,145.000000,0,0,Check-Out,2015-07-05,H1,89c61816-2e6f-4ea9-a1e8-22f45074bfba
12,0,68,2015,July,27,1,0,4,2,0.0,...,NULL,0,Transient,97.000000,0,3,Check-Out,2015-07-05,H1,72cffb9f-5a4d-41dc-aebf-08046bdd7a6f
13,0,18,2015,July,27,1,0,4,2,1.0,...,NULL,0,Transient,154.770004,0,1,Check-Out,2015-07-05,H1,3044076f-513b-41e1-b9b4-0765328ba8da
14,0,37,2015,July,27,1,0,4,2,0.0,...,NULL,0,Transient,94.709999,0,0,Check-Out,2015-07-05,H1,69ff93de-1cd4-4e4e-b39b-5fa87c61bbec
15,0,68,2015,July,27,1,0,4,2,0.0,...,NULL,0,Transient,97.000000,0,3,Check-Out,2015-07-05,H1,15ceacf0-6f18-446a-a105-7dd257215f5d
16,0,37,2015,July,27,1,0,4,2,0.0,...,NULL,0,Contract,97.500000,0,0,Check-Out,2015-07-05,H1,03987404-7b3d-4769-b923-76724e83e4b7
17,0,12,2015,July,27,1,0,1,2,0.0,...,NULL,0,Transient,88.199997,0,0,Check-Out,2015-07-02,H1,16cf64eb-d798-43d4-9555-e885b2b9940a
18,0,0,2015,July,27,1,0,1,2,0.0,...,110,0,Transient,107.419998,0,0,Check-Out,2015-07-02,H1,8709fdeb-7f15-4179-9d96-f82fe6489a41
19,0,7,2015,July,27,1,0,4,2,0.0,...,NULL,0,Transient,153.000000,0,1,Check-Out,2015-07-05,H1,6afc32e8-bca0-4b1e-a983-9fcbc918c09f
20,0,37,2015,July,27,1,1,4,1,0.0,...,NULL,0,Transient,97.290001,0,1,Check-Out,2015-07-06,H1,d5ae4932-a35a-473d-ade9-91c23785320c
21,0,72,2015,July,27,1,2,4,2,0.0,...,NULL,0,Transient,84.669998,0,1,Check-Out,2015-07-07,H1,5338bc28-3c10-4c92-9512-5a73a0c86a65
22,0,72,2015,July,27,1,2,4,2,0.0,...,NULL,0,Transient,84.669998,0,1,Check-Out,2015-07-07,H1,8d07b786-ee26-47ac-b76f-ba120eda3d3c
23,0,72,2015,July,27,1,2,4,2,0.0,...,NULL,0,Transient,99.669998,0,1,Check-Out,2015-07-07,H1,e6c121bc-5708-4595-bd07-21b50dda1503
24,0,127,2015,July,27,1,2,5,2,0.0,...,NULL,0,Contract,94.949997,0,1,Check-Out,2015-07-01,H1,d276f84f-62a9-4df0-839e-8411b10bf79e